body {background-color: rgb(28, 82, 168);}

.title {font-size: 50px;
	color: green;}


ul {color: white;}

div {font-size: 30px;}

#name {color: grey;}

.space {
	margin-bottom: 40px;
	margin-top: 30px;
}

nav {
	display: inline-block;
	text-align: center;
	margin-bottom: 100px;
}